body{
font-family:Arial;
margin:0;
background:#f2f5ff;
text-align:center;
}

header{
background:#1e3a8a;
color:white;
padding:30px;
}

.logo{
display:flex;
justify-content:center;
align-items:center;
gap:10px;
}

.globe{
font-size:40px;
}

.tagline{
opacity:.8;
}

.intro{
padding:60px;
}

button{
padding:15px 30px;
margin:10px;
border:none;
border-radius:8px;
background:#3b82f6;
color:white;
font-size:16px;
cursor:pointer;
}

button:hover{
background:#2563eb;
}

.hidden{
display:none;
}

.answers{
margin:40px;
}

.progress{
width:60%;
height:10px;
background:#ddd;
margin:auto;
border-radius:20px;
}

#bar{
height:10px;
width:0%;
background:#22c55e;
border-radius:20px;
}

canvas{
max-width:500px;
margin:auto;
}